@use './variables';

body{
    background-color: rgb(10, 10, 44);
}

.page{
    height: 100vh;
    width: 100vw;
}

.container{
    width: 30.33528472591804vw;
}

.header{
    color: white;
    font-style: italic;
}

.tic{
    background: #FFFFFF;
background: linear-gradient(to top right, #FFFFFF 0%, #D9D9D9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.tac{
    background: #00A6CF;
    background: linear-gradient(to top right, #00A6CF 0%, #00CCFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.toe{
    background: #CF00BA;
    background: linear-gradient(to top right, #CF00BA 0%, #FF00BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.autor{
    //gradient
    background: #00CCFF;
    background: linear-gradient(to right, #00CCFF 29%, #61CF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

    font-size: 23px;
    // -webkit-text-stroke: 0.2px rgb(201, 201, 201);
    font-style: italic;
    font-weight: 800;

    //text decoration
    text-decoration: underline rgb(182, 182, 182) solid 2px;
    text-underline-offset: 5px;
}

.instructions{
    margin-bottom: 2.660989888238425vw;
    color: white;
    display:inline-block;
}

.btn{
    &-ttt{
    height: 12.35839340885685vh;
    width: 6.386375731772219vw;
    background-color:rgb(10, 10, 44);
    border: none;
    color: white;
    font-size: 6vw;
    }

    &-reset{
        margin-top: 20px;
        border-radius: 20px;
        border: none;
        width: 120px;
        height:30px;
        background-color: #00A6CF;
        color: white;
        &:hover{
            background-color: #00657e;
        }
    }
}

.modal-content{
    background-color: black;
    color:white;
    transition: all .5s;
}

.square{
    width: 10.11176157530601vw;
    height: 19.56745623069001vh;
    &--left{
        border-right: variables.$border-default;
        border-bottom: variables.$border-default;
    }
    &--bleft{
        border-right: variables.$border-default;
    }
    &--center{
        border-bottom: variables.$border-default;
    }
    &--right{
        border-left: variables.$border-default;
        border-bottom: variables.$border-default;
    }
    &--bright{
        border-left: variables.$border-default;
    }

}

.xValue{
    text-shadow: rgba(3,205,255,1) 0px 0px 17px;
}

.oValue{
    text-shadow: rgba(255,3,87,1) 0px 0px 17px;
}

.ghost{
    &--xValue{
        color:rgba(255, 255, 255, 0.397);
        text-shadow: rgba(3,205,255,1) 0px 0px 17px;
    }
    &--oValue{
        color:rgba(255, 255, 255, 0.397);
        text-shadow: rgba(255,3,87,1) 0px 0px 17px;
    }
}